<center>
<h3 style = "color: #0071b9">Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<h4 style = "color: #0071b9">Pokemons</h4>
<% if @trainer == current_trainer %>
	<%= button_to "Create new Pokemon!", new_path, :class => "button medium", :method => :get %>
<% end %>
	<table>
		<tr>
			<th>Name</th>
			<th>Level</th>
			<th>Health</th>
			<th>Damage</th>
			<th>Heal</th>
		</tr>
		
		<% @trainer.pokemons.each do |p| %>
		<% next if p.hidden == true %>
		<tr>
			<td><%= p.name %></td>
			<td>Level <%= p.level %></td>
			<td>Health <%= p.health %></td>
			<td><%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %></td>
			<td>
				<% if @trainer == current_trainer %>
					<%= button_to "Heal!", heal_path(id: p), :class => "button medium", :method => :patch %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
</center>